{% extends 'web/base.html' %}
{% block content %}

    <ul>
        {% for post in posts %}
            <li>
                <b>{{ post.title }}</b>
                {% if post.user.id == user.id %}
                    <a href="{% url 'posts_edit' post.id %}">изменить</a>
                    <a href="{% url 'posts_delete' post.id %}">удалить</a>
                {% endif %}
                <br>
                [{% if post.opened %}АКТУАЛЬНО{% else %}неактуально{% endif %}, {{ post.post_date }}]
                <br>
                <small>
                    Периода передержки: {{ post.start_date }} – {{ post.end_date }}
                    <br>
                    {{ post.content }}
                    <br>
                    <em>Питомцы:</em>
                    <ul>
                        {% for pet in post.pets.all %}
                            <li>{{ pet.name }}</li>
                        {% endfor %}
                    </ul>
                    За <em>{{ post.price }}р.</em>
                    <br>
                    Пишите: <em>{{ post.user.email }}</em>
                </small>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
